<div class = "food-section">
    <div class = "recipes-list">
        <h1 style = "margin-top: 5%; color: green;">

        </h1>    
    </div>

    <div class = "random-recipe">
        <div class = "cuisine-search-section">
            <button id = "cuisine-btn" class = "cuisine-search-btn round-btn"> Generate Random 
            </button>
            <input type = "text" id = "cuisine-input">
        </div>

        <div class = "list-of-recipies">
            <ul id = "details-of-recipies">
            </ul>
        </div>
    </div>
</div>