<div class = "food-section">
    <div class = "recipes-list">
        <h1 style = "margin-top: 5%; color: green;">

        </h1>    
    </div>

    <div class = "random-recipe">
        <div class = "cuisine-search-section">
            <div class = "cuisine-search-section-top"> 
                <button id = "cuisine-btn" class = "cuisine-search-btn round-btn"> Generate Random </button>
                <input type = "text" id = "cuisine-input" placeholder = "Search Cuisine">
            </div>
            <div class = "cuisine-search-section-bottom">
                <!-- <label class = "form-label"> Cheap
                    <input id = "recipe-cheap-checkbox" type="checkbox">
                    <span class="checkmark"></span>
                </label> -->

                <label class = "form-label"> Vegeterian
                    <input id = "recipe-vegetarian-checkbox" type="checkbox">
                    <span class="checkmark"></span>
                <label class = "form-label"> Dessert
                    <input id = "recipe-dessert-checkbox" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>

        <div class = "list-of-recipies">
            <ul id = "details-of-recipies">
            </ul>
        </div>
    </div>
</div>