<div class="entertainment-section">
  <div id = "emap"></div>
  <div class = "list-of-events">
    <button id ="get-events-button"class = "round-btn" onclick = "getEvents()"> Get Events</button>
    <ul id = 'details-of-event' class = "details-of-events">
    </ul>
  </div>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB50Xz3WPHvT4Yu6zq303VcyLV1Y8xI5c&libraries=places&callback=EntertainMap">
</script>
