<div class="entertainment-section">
  <div id = "emap"></div>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB50Xz3WPHvT4Yu6zq303VcyLV1Y8xI5c&libraries=places&callback=EntertainMap">
</script>
