// Place all the styles related to the chatmessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alert.alert-success{
  width:100%;
  text-align: center;
}

#chatbox{
  overflow-y: scroll;
}
