.container-form-device{
    // border: 3px solid #1fd660;
    width: 100%;
    margin-bottom: auto;
    margin-top: 5%;
    border-radius: 5px;
    position: relative;

  }

  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
  }
