// Place all the styles related to the entertainment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#emap {
  height: 600px;
  width: 600px;
  display: block;
  margin: 5%;
  border: 2px solid #1fd660; 
  }

.entertainment-section{
    height: 100%;
    overflow: auto;
    display: flex;
    flex: 1;
}
