.container-form{
  // border: 3px solid #1fd660;
  margin-bottom: auto;
  margin-top: 5%;
  border-radius: 5px;
  width: 50% !important;
  // background-color: #1f2d41;
  // text-align: center;
  // box-shadow: 0 4px 10px -2px #000000; 
}
  .form-header{
    font-family: "Metropolis Bold";
    color: #1fd660;
    
  }
  .form-control{
    background-color: #1f2d41 !important;
    border: none !important;
    width: 100% !important;
    resize:none;
    box-shadow: none !important;
  }
  .form-label{
    font-family: "Metropolis Regular";
    color: #1fd660;
    // margin-right: 5% !important;
  }

  .devise-links{
    font-family: "Metropolis Regular";
    color: #1fd660;
  }

  .form-field{
    font-family: "Metropolis Regular";
    color: #1fd660;
  }

