.container-form{
  border: 3px solid #1fd660;
  margin-bottom: 20%;
  margin-top: 20%;
  border-radius: 5px;
  background-color: #1f2d41;
  // text-align: center;

  .form-header{
    font-family: "Metropolis Bold";
    color: #1fd660;
  }
  .form-control{
    // color: #1fd660;
    // width: 50%;
    // margin: auto;

  }
  .form-label{
    font-family: "Metropolis Regular";
    color: #1fd660;
  }
}
