// Place all the styles related to the Support controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{
    height: 600px;
    width: 600px;
    display: block;
    margin: 5%;
    border: 2px solid #1fd660;
}

@media(max-width: 768px){

    #map{
        height: 600px;
        width: 90vw;
        display: block;
        margin-top: 10%;
    }
}