// Place all the styles related to the Support controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{
    height: 600px;
    width: 600px;
    display: block;
    margin: 5%;
    border: 2px solid #1fd660;
}

.support-section{
    height: 100%;
    overflow: auto;
    display: flex;
    flex: 1;
}

.list-of-hospitals{
    margin-top: 5%;
    overflow-y: scroll;
    height: 600px;
    margin-left: 5%;
    box-shadow: 0 2px 4px -2px #000000;
    // border-right: 2px solid #1fd660;;

    .details-of-hospital{
        padding-left: 0 !important;
        list-style-type: none;

        
        .place-content{
            padding: 20px;
            border: 1px solid #1fd660;
            font-weight: bold;
            margin-bottom: 10px;
            max-height: 200px;
    
            .place-name{
                color: #1fd660;
            }
    
            .place-phone-number{
                color: #1fd660;
            }
    
            .place-geo-location{
                color: #1fd660;
            }

            .place-text{
                color: white;
                padding-left: 10px; 
                
            }
        }
    }

    
}

@media(max-width: 768px){

    #map{
        height: 600px;
        width: 90vw;
        display: block;
        margin-top: 10%;
        margin-bottom: 0;
    }

    .list-of-hospitals{
        flex-direction: column;
        // padding-left: 0 !important;
        margin: 10% 5% 10% 5%;
    }

    .support-section{
        flex-direction: column;
    }
}